<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>forget password</title>
</head>
<body class="bg-info my-5 d-flex justify-content-center" >
    <div class="w-50 bg-white rounded p-3">
        <h3 >forget password</h3>
        <form  action="" method="POST">
            <label class="form-label" for="email">email</label>
            <input class="form-control" type="email" name="email" placeholder="email" required>
            <button class="btn btn-success mt-3" type="submit">submit</button>
        </form>
    </div>
    
</body>
</html>